/* Mobile */
@media (max-width: 1199px) {
    .product-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}
